- single_announcement ||= false

%article.announcement
  - if single_announcement
    %h1= announcement.title
  - else
    %h2= link_to announcement.title, announcement
  .published-at
    Публикувано на
    %time{:datetime => announcement.created_at.iso8601, :pubdate => :pubdate}
      = l announcement.created_at
  = markup announcement.body
  - admin_only do
    = link_to 'Редактирай', edit_announcement_path(announcement), class: :action
