%h1 Новини

- if admin?
  = link_to 'Нова', new_announcement_path

#announcements
  - unless @announcements.empty?
    - @announcements.each do |announcement|
      %article
        %h2= announcement.title
        .published-at
          Публикувано на
          %time{:datetime => announcement.created_at.iso8601, :pubdate => :pubdate}
            = l announcement.created_at
        - admin_only do
          = link_to 'Редактирай', edit_announcement_path(announcement)
        = markup announcement.body
  - else
    %p.no-records Все още няма новини

= will_paginate @announcements
