= simple_form_for task do |form|
  = form.input :name
  = form.input :closes_at, as: :string, input_html: {value: task.closes_at.try(:strftime, '%Y-%m-%d %H:%M:%S')}
  = form.input :description
  = form.input :test_case
  = form.input :restrictions
  = form.input :max_points

  = form.submit
