= simple_form_for task do |form|
  = form.input :name
  = form.input :closes_at, as: :date_time
  = form.input :manually_scored
  = form.input :checked
  = form.input :hidden
  = form.input :description
  = form.input :test_case
  = form.input :restrictions
  = form.input :max_points

  = form.submit
