%article{'data-starred' => post.starred?.to_s}
  %aside
    = link_to user_thumbnail(post.user), post.user
    = link_to post.user.name, post.user
  .body
    = markup(post.body)
  .published-at
    Публикувано преди
    %time{:datetime => post.created_at.iso8601}= time_ago_in_words post.created_at
    = link_to 'Редактирай', edit_post_path(post) if can_edit? post
    = toggle_post_star_link post if admin?
