%h1= @topic.title

= will_paginate @replies

%ol.topic
  - if @replies.current_page == 1
    %li= contribution @topic
  - @replies.each do |reply|
    %li= contribution reply

= will_paginate @replies

- if logged_in?
  .new-reply
    %h2 Отговорете на темата
    = render @reply, topic: @topic
- else
  %p.requires-authentication
    Трябва да сте влезли в системата, за да може да отговаряте на теми.
