%h1= @topic.title

= will_paginate @replies

%ol.topic
  - if @replies.current_page == 1
    %li= contribution @topic
  - @replies.each do |reply|
    %li= contribution reply
  - if logged_in?
    %li= render @reply, topic: @topic, contribution: decorate_contribution(@reply)
  - else
    %p.requires-authentication
      Трябва да сте влезли в системата, за да може да отговаряте на теми.

= will_paginate @replies
