%h1= @topic.title

%ol.topic
  %li= render 'post', :post => @topic
  - @topic.replies.each do |reply|
    %li= render 'post', :post => reply

= simple_form_for [@topic, @reply] do |form|
  = form.error_notification
  = form.input :body
  = form.submit 'Отговори'
