%h1= @topic.title

%ol.topic
  - if @replies.current_page == 1
    %li= render 'post', :post => @topic
  - @replies.each do |reply|
    %li= render 'post', :post => reply

= will_paginate @replies

= render @reply, :topic => @topic
