#user-page
  %h1= @user.name
  %p.faculty-number (№#{@user.faculty_number})

  = user_thumbnail @user

  %dl
    - if @user.github.present?
      %dt GitHub
      %dd= link_to @user.github, "http://github.com/#{@user.github}"

    - if @user.twitter.present?
      %dt Twitter
      %dd= link_to @user.twitter, "http://twitter.com/#{@user.twitter}"

    - if @user.skype.present?
      %dt Skype
      %dd= @user.skype

    - if @user.site.present?
      %dt Сайт
      %dd= link_to @user.site, @user.site

    - if admin?
      %dt Поща
      %dd= @user.email

      %dt За вас
      %dd= @user.about

  - if @points_breakdown.having_starred_posts?
    .starred-posts
      %h2 Звездички във форума

      = @points_breakdown.each_starred_post_with_title do |post, title|
        %li= link_to title, post_path(post)

  - if logged_in? && @user == current_user
    %p
      = link_to 'Редактирайте профила си тук', edit_profile_path
