#user-page
  %h1= @user.name
  - if admin? or @user == current_user
    %p.faculty-number (№#{@user.faculty_number})

  = user_thumbnail @user

  %dl
    - if @user.github.present?
      %dt GitHub
      %dd= link_to @user.github, "http://github.com/#{@user.github}"

    - if @user.twitter.present?
      %dt Twitter
      %dd= link_to @user.twitter, "http://twitter.com/#{@user.twitter}"

    - if logged_in? and @user.skype.present?
      %dt Skype
      %dd= @user.skype

    - if @user.site.present?
      %dt Сайт
      %dd= link_to @user.site, @user.site

    - if admin?
      %dt Поща
      %dd= @user.email

      %dt За вас
      %dd= @user.about

  - if logged_in? && @user == current_user
    %p
      = link_to 'Редактирай', edit_profile_path, class: :action

  - if @user.attributions.present?
    %section.attributions
      %h2 Признания
      %ul
        - @user.attributions.each do |attribution|
          %li
            = link_to attribution.reason, attribution.link
            - if admin?
              (#{link_to 'Редактирай', [:edit, @user, attribution]})

  - if admin?
    %p
      = link_to 'Признай', new_user_attribution_path(@user), class: :action

  %section.posts
    - if @topics.present?
      %h2 Теми
      %ul
      - @topics.each do |topic|
        %li
          = link_to topic.title, topic
    - if @topic_replies.present?
      %h2 Отговори
      - @topic_replies.each do |topic, replies|
        %h3
          = link_to topic.title, topic
        %ul
          - replies.each do |reply|
            %li
              = link_to reply.body.truncate(77), post_path(reply)
