#user-page
  %h1= @user.name
  - if admin? or @user == current_user
    %p.faculty-number (№#{@user.faculty_number})

  = user_thumbnail @user

  %dl
    - if @user.github.present?
      %dt GitHub
      %dd= link_to @user.github, "http://github.com/#{@user.github}"

    - if @user.twitter.present?
      %dt Twitter
      %dd= link_to @user.twitter, "http://twitter.com/#{@user.twitter}"

    - if logged_in? and @user.skype.present?
      %dt Skype
      %dd= @user.skype

    - if @user.site.present?
      %dt Сайт
      %dd= link_to @user.site, @user.site, data: { no_turbolink: true }

    - if admin?
      %dt Поща
      %dd= @user.email

      %dt За вас
      %dd= @user.about

  - if logged_in? && @user == current_user
    %p
      = link_to 'Редактирай', edit_profile_path, class: :action
