%h1 Регистрация

= simple_form_for @registration, as: :registration, url: registration_path do |form|
  = form.error_notification

  %p
    Малко по-надолу ще намерите форма, с която да си създадете акаунт в сайта на курса. Трябва да
    въведете <strong>три имена</strong>, факултетен номер и <strong>валиден email адрес</strong>.
    Няма да го публикуваме или разпространяваме по никакъв начин. Няма и да ви изпращаме каквито и
    да било автоматични писма, освен тези за регистрация и новини. Моля дайте адрес, който
    проверявате. Административни грешки са ставали в миналото и е по-добре да ви уведомим бързичко,
    отколкото да разберете когато вече е твърде късно.

  %p
    Ако сте въвели валидно име и факултетен номер, ще получите писмо, с което да потвърдите адреса
    си. Отворете линка и сте готови - имате потребител на сайта.

  %p
    Ако сте записали курса с молба или не сте студент във ФМИ, но посещавате събиранията, има
    голям шанс да нямаме вашето име и факултетен номер. Ако имате проблем с регистрацията,
    моля #{mail_to(Language.email, 'пишете ни')}.

  = form.input :full_name
  = form.input :faculty_number
  = form.input :email

  = form.submit 'Регистрирай ме'
