%h1 Изберете си парола...

%p Браво! Почти сте се готови.
%p Остава само да си изберете парола и сте в играта.

= simple_form_for @activation, as: :activation do |form|
  = form.error_notification

  = form.input :password
  = form.input :password_confirmation

  = form.submit 'Регистрирай ме'
