#home-page
  %h1 Програмиране с Python

  %p
    Това е сайтът на избираемия курс "Програмиране с Python" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

  %h2 Следващото събиране
  %p
    Следващото събиране, ще бъде тест и ще се проведе на <strong>19 април</strong> от
    <strong>19:00</strong> часа за студентите с <strong>НЕ</strong>четни номера и от <strong>20:00</strong> часа за тези с четни номера, в зала <strong>200</strong>.
  %p
    Материалът ще включва първите 10 лекции, ще бъде съставен от 50 въпроса и максималният брой точки е 30.
  %p
    Заповядайте!

  %h2 Трета задача
  %p
    Най-добре погледнете #{link_to 'темата за трета задача във форумите', '/topics/294'}

  %h2 Слайдове

  %ol
    %li= link_to 'Въведение в Python (8 март)', '/slides/01-python-intro.html'
    %li= link_to 'Колекции (10 март)', '/slides/02-collections.html'
    %li= link_to 'Функциите и техните приятели (15 март)', '/slides/03-functions-and-friends.html'
    %li= link_to 'Итераторите и генератори (17 март)', '/slides/04-iterators.html'
    %li= link_to 'Модули (22 март)', '/slides/05-modules.html'
    %li= link_to 'Регулярни изрази (24 март)', '/slides/06-re.html'
    %li= link_to 'Обектно-ориентирано програмиране (29 март)', '/slides/07-oop.html'
    %li= link_to 'Обектно-ориентирано програмиране 2 (31 март)', '/slides/08-oop-2.html'
    %li= link_to 'Изключения (5 април)', '/slides/09-exceptions.html'
    %li= link_to 'Декоратори (7 април)', '/slides/10-decorators.html'

  %h2 Новини по RSS!
  %p
    Може да следите новитине на курса по RSS. Просто насочете четеца си към
    #{link_to 'нашата хранилка', announcements_path(:format => :rss)}.

  %h2 Питон, питон, питон
  %p
    <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/IIAdHEwiAy8" frameborder="0" allowfullscreen></iframe>
  %h2 Забавни работи
  %p
    Може би не знаете, но курсът ни има <a href="http://www.facebook.com/group.php?gid=104970619536589">
    група във Facebook</a> и <a href="http://twitter.com/pyfmi">twitter потребител</a>.
    Може да се присъедините към първото и да последвате второто.

  %h2 Старите сайтове на курса
  %p
    Ако търсите стария сайт на курса, може да го намерите <a href="http://2010.fmi.py-bg.net">тук</a>.
    Ако пък търсите по-стария сайт, той се намира <a href="http://oldfmi.py-bg.net">тук</a>.
