#home-page
  %h1 Здравейте!
  %p
    Това е сайтът на избираемия курс "#{Language.course_name}" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

  %h1 Новини
  #announcements= render @announcements

  - if @previous_sites.present?
    %h1 Сайтове на предишни издания на курса
    %p
      Ако търсите сайтовете на някои от предишните издания на курса, може да ги намерите тук:
    %ul
      - @previous_sites.each do |site|
        %li
          = site['name']
          &mdash;
          = link_to site['url'], "http://#{site['url']}"
