#my-solution
  %h1 #{@challenge.name} &mdash; Моето решение

  = link_to 'Обратно към условието', @challenge

  - if @challenge.closed?
    %p Крайният срок е отминал. Вече не можете да предавате решения.

  = simple_form_for @submission, as: :submission, url: challenge_my_solution_path(@challenge), method: :put do |form|
    = form.error_notification

    = form.input :code, as: :text, disabled: @challenge.closed?
    - unless @challenge.closed?
      = form.submit 'Изпрати'
