#my-solution
  %h1 #{@task.name} &mdash; Моето решение

  = link_to "Обратно към условието", @task

  - if @task.closed?
    %p Крайният срок на тази задача е отминал. Вече не може да предавате решение.
  = render 'tasks/guide_notice'

  - if @submission.try(:violating_restrictions?)
    .violations
      %p Решението ви не минава някои стилистически изисквания:
      %pre.restrictions-violations= @submission.violations

  = form_tag task_my_solution_path(@task), method: :put, class: 'simple_form' do
    %div
      = label_tag :code, 'Код'
      = text_area_tag :code, @code, disabled: @task.closed?
    - unless @task.closed?
      %div
        = submit_tag 'Изпрати'
