#dashboard
  .points
    %h2 Точки
    %p
      Вие имате
      %strong= @points
      = @points == 1 ? 'точка' : 'точки'
      %em Място: #{@rank}/#{@total}

  %h1 Табло

  %p Здрасти. Тук можете да намерите всевъзможна информация.

  .group
    .left
      %h2 Задачи
      %table.data-table
        %thead
          %tr
            %th Име
            %th Точки
        %tbody
          - @tasks.each do |name, points|
            %tr
              %td= name
              %td{style: "width:20px"}= points
    .right
      %h2 Предизвикателства
      %table.data-table
        %thead
          %tr
            %th Име
            %th{style: "width:20px"} Статус
        %tbody
          - @challenges.each do |name, status|
            %tr
              %td= name
              %td
                - case status
                - when :unchecked
                  Непроверено
                - when :incorrect
                  Неуспешно
                - when :correct
                  Успешно

  .group
    .left
      %h2 Профил
      %p
        Вашият профил е това, което преподавателите и другите студенти виждат за вас.
        Вярваме, че ако го поддържате актуален ще създавате по-добро впечатление и ще
        е по-лесно за другите участници в курса да се запознаят с вас.
      %p
        = link_to 'Редактиране', edit_profile_path, class: :action

    .right
      %h2 Точки за участие в час
      %p
        Ако участвате в час, получавате лакомство, комбинирано с ваучър код. Кодът
        ви дава <strong>1 точка</strong>. Ако имате такъв, побързайте да го въведете —
        времето им на съществуване е ограничено.
      %p
        = link_to 'Въвеждане на код', new_voucher_claim_path, class: :action
