#dashboard
  .points
    %h2 Точки
    %p
      Вие имате
      %strong= @points
      = @points == 1 ? 'точка' : 'точки'
      %em Място: #{@rank}/#{@total}

  %h1 Табло

  %p Здрасти. Тук можете да намерите всевъзможна информация.
  %p
    %em Тази страница е в процес на разработка. Очаквайте промени.

  %h2 Профил

  %p
    Вашият профил е това, което преподавателите и другите студенти виждат за вас.
    Вярваме, че ако го поддържате актуален, ще създавате по-добро впечатление и ще
    е по-лесно за другите участници в курса да се запознаят с вас.
  %p
    = link_to 'Редактиране', edit_profile_path, class: :action

  %h2 Точки за участие в час
  %p
    Ако участвате в час, получавате лакомство, комбинирано с ваучер код. Кодът
    ви дава <strong>1 точка</strong>. Ако имате такъв, побързайте да го въведете —
    времето им на съществуване е ограничено.
  %p
    = link_to 'Въвеждане на код', new_voucher_claim_path, class: :action
