#activity-feed
  %h1 Активност

  %ul
    - @feed.each_activity do |activity|
      %li{class: activity.kind}
        = link_to activity.user_name, user_path(activity.user_id)
        - case activity.kind
        - when :comment
          остави коментар на
          = link_to "решение на #{activity.subject}", task_solution_path(activity.secondary_id, activity.target_id)
        - when :solution
          предаде
          = link_to "решение на #{activity.subject}", task_solution_path(activity.secondary_id, activity.target_id)
        %time{datetime: activity.happened_at.iso8601}= l activity.happened_at.in_time_zone(Time.zone)
