%h1 Точки до момента

%table.data-table
  %thead
    %tr
      %th Име
      %th Фак. №
      %th Звезди
      %th Ваучъри
      %th Предиз.
      - if Task.checked.exists?
        %th{:colspan => Task.checked.count} Задачи
      - if Quiz.exists?
        %th{:colspan => Quiz.count} Тестове
      %th Признания
      %th Други
      %th Общо
  %tbody
    - @points_breakdowns.each do |breakdown|
      %tr
        %td= link_to breakdown.name, user_path(breakdown.id)
        %td= breakdown.faculty_number
        %td= breakdown.stars
        %td= breakdown.vouchers
        %td= breakdown.challenges
        - breakdown.tasks_breakdown.each do |points|
          %td= points
        - breakdown.quizzes_breakdown.each do |points|
          %td= points
        %td= breakdown.attributions
        %td= breakdown.photo
        %td= breakdown.total
