.inline-comment-form(data-inline-comment-form)
  = simple_form_for [revision, Comment.new], namespace: "revision_#{revision.id}" do |form|
    = form.hidden_field :line_number, class: 'line-number-input'
    = form.text_area :body

    .buttons
      = form.button :submit, 'Коментирай', class: 'btn primary'
      %button.btn(type="button" data-close-comment-form) Откажи
