%h1 Решения на #{@task.name}
%p= link_to 'Към задачата', @task, :class => :back
%p
  %strong= @solutions.count
  решения

%table.solutions
  %thead
    %tr
      %th.name Име
      %th.points Точки
      %th.results Изпълнение
  %tbody
    - @solutions.each do |solution|
      %tr
        %td.name= link_to solution.user_name, [@task, solution]
        %td.points Точки: <span data-points>#{solution.points}</span> (<span data-adjustment>#{solution.adjustment}</span> добавка)
        %td.results <span class="passed">Успешни тестове:</span> #{solution.passed_tests}<span class="failed">, Неуспешни тестове:</span> #{solution.failed_tests}<span class="lines">, Редове:</span> #{solution.rows}<span class="comments">, Коментари:</span> #{solution.comments.count}
