.solution
  %h1 Решение на #{@solution.task_name} от #{@solution.user_name}

  %p= link_to 'Обратно към всички решения', task_solutions_path(@solution.task), :class => :back
  %p= link_to "Към профила на #{@solution.user_name}", @solution.user, :class => :related

  %h2 Резултати

  %ul
    %li.points #{@solution.points} точки
    %li.bonus-points 0 бонус точки

  %ul
    %li.passed-tests #{@solution.passed_tests} успешни тест(а)
    %li.failed-tests #{@solution.failed_tests} неуспешни тест(а)

  %h2 Код
  %pre= @solution.code

  - if @solution.log.present?
    %h2 Лог от изпълнението
    %pre.test-log(data-test-log)= @solution.log

  %h2 Коментари

  - if @solution.comments.present?
    - @solution.comments.each do |comment|
      %article.comment{:id => "comment-#{comment.id}"}
        %aside
          = link_to user_thumbnail(comment.user), comment.user
          = link_to comment.user.name, comment.user
        .body
          = markup comment.body
        .published-at
          = link_to comment, :class => 'permalink', :title => t(:'contributions.permalink') do
            Публикувано преди
            %time{:datetime => comment.created_at.iso8601}= time_ago_in_words comment.created_at
          = link_to 'Редактирай', edit_task_solution_comment_path(@solution.task, @solution, comment) if can_edit? comment
  - else
    %p.missing Няма коментари

  = simple_form_for [@solution.task, @solution, Comment.new] do |form|
    = render 'comments/form', form: form
