!!! 5
%html
  %head
    %title Програмиране с Python
    %meta(charset="utf-8")

    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      = link_to root_path, :class => :logo do
        %span Програмиране с Python
      %nav
        %ul
          - if user_signed_in?
            %li Здрасти, #{current_user.full_name}
            %li= link_to 'Профил', profile_path
            %li= link_to 'Изход', destroy_user_session_path
          - else
            %li= link_to 'Вход', new_user_session_path
            %li= link_to 'Регистрация', new_registration_path
    %nav
      %ul
        %li= link_to 'Начало', root_path
        %li= link_to 'Потребители', users_path
        %li= link_to 'Форуми', topics_path
    #container
      - flash.keys.each do |key|
        %div{:class => [:flash, key]}= flash[key]
      #main
        = yield
      %footer
        = link_to 'Някои права запазени', '#'

    = render 'common/google_analytics'
