!!! 5
%html
  %head
    %title Trane
    %meta(charset="utf-8")

    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      = link_to root_path, :class => :logo do
        %span Програмиране с Python
      %nav
        %ul
          %li= link_to 'Вход', new_user_session_path
          %li= link_to 'Регистрация', new_registration_path
      = current_user.try(:email)
    %nav
      %ul
        %li= link_to 'Начало', root_path
        %li= link_to 'Среда', root_path
        %li= link_to 'Среда', root_path
        %li= link_to 'Среда', root_path
        %li= link_to 'Край', root_path
    #container
      - if flash[:notice]
        .flash.notice= flash[:notice]
      - if flash[:error]
        .flash.error= flash[:error]
      #main
        = yield
      %footer
        = link_to 'Някои права запазени', '#'
